<html>
<head>
	<title>LazeTravel</title>
</head>
<link href='https://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/showusers.css">

<body>
	<h2> LazeTravel </h2>

	<div class = "profile">
      <%= image_tag @user.avatar.url(:medium) %>
    </div>
    <div class = "firstname">
      <b> <%= @user.first_name %> </b>
    </div>

<nav id="navigation" class="clearfix">
	<ul>
      <!-- <li><a href="/posts">Home</a></li> -->
      <li><%= link_to "Home",  posts_path %></li>
      <li><%= link_to "New Post", new_post_path %></li>
      <li><%= link_to 'Discover', post_path(:id) %></li>
      <li><%= link_to "My Post", user_path(@user.id) %></li>
    </ul>
  </nav>


<h3> My Posts </h3>

<div class = "edit-image">
<% @user.posts.each do |post| %>
<div class = "float">
<%= image_tag post.image.url(:medium) %>
<div class = "clear"></div>
<%= post.content %>	
</div>						
<% end %>
</div>
<div class = "clear"></div>

</body>
</html>

