<html>
<head>
	<title>LazeTravel</title>
</head>
<link rel = "stylesheet" type = "text/css" href = "/app/assets/stylesheets/show-users.css">

<body>

<nav id="navigation" class="clearfix">
	<ul>
      <!-- <li><a href="/posts">Home</a></li> -->
      <li><%= link_to "Home",  posts_path %></li>
      <li><%= link_to "New Post", new_post_path %></li>
      <li><%= link_to 'Discover', post_path(:id) %></li>
      <li><%= link_to "My Post", user_path(@user.id) %></li>
    </ul>
  </nav>


<h2> LazeTravel </h2>
<div class = "edit-image">
<% @user.posts.each do |post| %>
<%= image_tag post.image.url(:medium) %>
<%= post.content %>							
<% end %>
</div>

</body>
</html>

